extends layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-8
        .jumbotron.bg-primary.text-white.text-center.p-5.rounded
          a.btn.btn-light.btn-lg(href='/beads') 進入珠子分配系統
